@if (species; as species) {
<h2>{{ species.name }}</h2>

<img
  src="https://www.serebii.net/pokemon/art/{{ species.id.toLocaleString('en-US', {minimumIntegerDigits: 3, useGrouping: false}) }}.png" />

<p>
  Pokédex ID: {{ species.id }}
</p>

<p>
  Type:
  @for (type of species.types; track type) {
  <span class="pokeType type-{{type}}">{{ type }}</span>
  }
</p>

@if (owned(); as owned) {
<h3>Your Pokémon</h3>

<p>
  Owned: {{ owned.quantity }}
</p>

<p>
  Available: {{ game.getUnassignedPokemon(owned.speciesId) }}
</p>

<h4>Jobs</h4>

@for (job of game.getAvailableJobsForPokemon(pokemonId); track job.id) {
<div>
  <b>{{ job.name }}</b>

  <button (click)="unassignFromJob(job.id)" [disabled]="getAssignedQuantity(job.id) <= 0">-</button>
  {{ getAssignedQuantity(job.id) }}
  <button (click)="assignToJob(job.id)" [disabled]="game.getUnassignedPokemon(pokemonId) <= 0">+</button>
</div>
}
}

<p>
  <a routerLink="/pokemon">Back to Pokémon</a>
</p>
} @else {
<h2>Pokémon Not Found</h2>

<p>
  No Pokémon exists with ID {{ pokemonId }}.
</p>

<p>
  <a routerLink="/pokemon">Back to Pokémon</a>
</p>
}