<h2>Pokémon</h2>

@for (owned of game.ownedPokemon(); track owned.speciesId) {
<section>
  <h3>
    {{ owned.species?.name }} [{{ owned.quantity }}]
  </h3>

  <p>
    Available: {{ game.getUnassignedPokemon(owned.speciesId) }}
  </p>

  <h4>Jobs</h4>

  <ul>
    @for (job of game.getAvailableJobsForPokemon(owned.speciesId); track job.id) {
    <li>
      <b>{{ job.name }}</b> -
      <span>
        Assigned:
        <button (click)="unassignFromJob(owned.speciesId, job.id)"
          [disabled]="getAssignedQuantity(owned.assignments, job.id) <= 0">-</button>
        {{ getAssignedQuantity(owned.assignments, job.id) }}
        <button (click)="assignToJob(owned.speciesId, job.id)"
          [disabled]="game.getUnassignedPokemon(owned.speciesId) <= 0">+</button>
      </span>
    </li>
    }
  </ul>
</section>
}