<h1>Welcome to the lab, Professor Larch</h1>

<div>
  <p>Research: {{ game.research() }}</p>
  <p>Money: ${{ game.money() }}</p>
  <button (click)="addResearch()">Research</button>
  <button (click)="addMoney()">Work</button>
</div>

<h2>Pokémon</h2>

<ul>
  @for (owned of game.ownedPokemon(); track owned.species?.id) {
  <li>
    {{ owned.species?.name }} x{{ owned.quantity }}
  </li>
  }
</ul>

<h2>Jobs</h2>

<ul>
  @for (job of game.unlockedJobs(); track job) {
  <li>
    {{ job }}
  </li>
  }
</ul>