/* You can add global styles to this file, and also import other style files */
body {
  background-color: #333333;
  color: #EEEEEE;
}

a {
  color: #8ab4f8;
  text-decoration: none;
}

a:hover {
  color: #b8d4ff;
  text-decoration: underline;
}